.TransactionsDatesPageContainer {
    display: flex;
    height: 80vh;
    width: 76vw;
    justify-content: start;
    padding: 10px;
    overflow: auto;
}

.TransactionsDates {
    display: flex;

    justify-content: start;
    gap: 20px;
    flex-wrap: wrap;
}
