.dataChartContainer {
    width: 1200px;
    height: 600px;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
}
