.summaryHolder {
    display: flex;
    height: 280px;
    padding-bottom: 14px;
    width: fit-content;
    padding: 20px;
    box-sizing: border-box;

    align-items: center;
    border-radius: 7px;
    box-shadow: 0 4px 14px #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    letter-spacing: 1px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.summaryDiagram {
    height: 30px;
}
.summaryText {
    display: flex;
    align-items: start;
    flex-direction: column;
}
