.transactionDateContainer {
    max-height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 0 4px 14px #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    letter-spacing: 1px;
}
.transactionDataContainer {
    overflow-y: scroll;
    width: 90%;
}
.transactionDataContainer::-webkit-scrollbar {
    width: 0;
    background: transparent;
}
.transaction {
    padding: 7px;
    width: 90%;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 18px;
}
.typeCircleExpense {
    width: 7px;
    height: 7px;
    background-color: #ff6384;
    border-radius: 50%;
}

.typeCircleIncome {
    width: 7px;
    height: 7px;
    background-color: #36a2eb;
    border-radius: 50%;
}
